* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3em;
}

:root {
  --BabyBlue: #7EC8E3;
  --Blue: #0000FF;
  --NavyBlue: #000C66;
  --LightBlue: #00f7ff;
  --Black: #0B1320;

}

li {
  list-style: none;
}

.main {
  width: 100%;
  background: var(--BabyBlue);
  padding-top: 10rem;
}

.render_article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;

}

.card {
  padding: 0.5em;
  text-align: center;
  border-radius: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  background-color: var(--BabyBlue);
  overflow-y: scroll;
  height: 60vh;
  margin-top: 1em;
  box-shadow: 0 0 8px 2px black;

}

.card::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  color: black;


}

.episode_paragraph {
  color: black;
  font-size: 1rem;
  margin-top: 1rem;
}

.card img {
  height: 150px;
  border-radius: 20px;
}

.tvshow_card {
  width: 100%;
  margin: 1em auto;
  height: 350px;
  overflow-y: scroll;

}

.tvshow_card::-webkit-scrollbar {
  display: none;
}

.tvshow_card h1 {
  background-color: black;
  color: wheat;
  padding: 0.5em 0;
  border-radius: 30px 30px 0 0;
}

.tvshow_image_div {
  width: 100%;
  display: flex;
}

.card_info {
  margin: 0 10px;
  text-align: center;
  box-shadow: 50px 0px 60px -30px var(--Blue);

}

.card_info ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tvshow_image_div img {
  display: block;
  width: 50%;
}

.tvshow_texts {
  background: black;
  color: wheat;
  padding: 0.5em;
  font-size: 0.8rem;
}






@media screen and (min-width: 501px) {



  .tvshow_card {
    display: flex;
    flex-direction: row;
    border: 5px var(--NavyBlue) solid;
    justify-content: space-between;

  }

  .tvshow_image_div {
    margin: 1.1rem;
  }

  .card_info ul {
    align-items: center;
    font-size: 0.8em;
    padding-left: 50%;
  }

  .tvshow_card h1 {
    background-color: var(--BabyBlue);
    color: #0B1320;
    padding-top: 6em;
  }

  .li_tvshow {
    list-style: none;
  }

  .card_info {
    display: flex;
    flex-direction: column;
  }

  .tvshow_card {
    padding: 2em;
  }

  .tvshow_texts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.5rem;

  }

  .tvshow_texts p {
    padding: 0 0.7em;
    font-size: 1.1em;
    overflow-y: scroll;


  }

  .ul_tvshows {
    width: 35%;
  }


  .tvshow_texts {
    text-align: center;
    padding-top: 3em;
    width: 100%;
  }

}