#root {
  color: black;
  display: flex;
  flex-direction: column;
  background-color: rgb(167, 167, 167);
}

.input_span {
  float: right;
  font-size: 1.1em;
  margin-left: 3em;
}

#searchWarpper {
  margin: 5em 5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.searchbar_input {
  width: 32%;
  font-size: 2em;
  position: relative;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  border: 8px solid navy;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: lightslategray;

}

h1 {
  text-align: center;
  width: 100%;
  font-size: 2em;
  color: white;

}

p {
  text-align: justify;
  padding: 0.5em;
  font-size: 1.3em;

}

img {

  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}